@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:wght@500;600;700;800&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* BACKGROUND */
body{
    background-image: url(../assets/bg-strip.svg);
    background-repeat: no-repeat;
    /* overflow: hidden;
  max-width: 1440px;
  min-height: 788px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff; */
}

/* LOGO */
.frame-logo,
.frame-gambar-text {
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
}

.frame-logo,
.frame-gambar-text {
  display: flex;
  position: relative;
  align-items: center;
}

.frame-logo {
  gap: 20px;
  padding: 12px 16px 12px;
  max-width: 600px;
  min-height: 68px;
  border-radius: 16px 16px 16px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.frame-gambar-text {
    gap: 7px;
    max-width: 530px;
    min-height: 50px;
}

.logo-gambar {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 90.625px;
    max-height: 50px;
}

.text-logo {
    width: 100%;
    max-width: auto;
    min-height: auto;
}
  
.font-logo {
    color: #3e4095;
    font-size: 24px;
    font-style: normal;
    font-family: "Arial",sans-serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
}

/* KOTAK */
.c_slip-frame03 {
  gap: 32px;
  padding: 56px 102px;
  overflow: hidden;
  max-width: 1000px;
  box-shadow: 0 4px 40px 0 rgba(12,47,90,.15);
  min-height: 462px;
  align-items: flex-start;
  border-radius: 16px 16px 16px 16px;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  margin: auto;
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.c_slip-instance {
  gap: 8px;
  padding: 6px 0;
  max-width: 796px;
  min-height: 36px;
  align-items: flex-start;

  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  /* Optionally, if you want to remove any additional styling */
  /* color: inherit;
  text-decoration: none; */
}

.c_slip-frame04,
.c_slip-instance1 {
  width: 100%;
  box-sizing: border-box;
  min-height: 24px;
}

.c_slip-frame04 {
  gap: 8px;
  display: flex;
  position: relative;
  max-width: 107px;
  align-items: center;
  justify-content: center;
}

.c_slip-instance1 {
  overflow: hidden;
  max-width: 24px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_slip-text02,
.c_slip-text03 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_slip-text02 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_slip-text03 {
  color: #c02929;
  font-size: 20px;
  font-style: normal;
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -1px;
  text-transform: none;
}

.c_slip-frame05 {
  gap: 32px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 796px;
  box-sizing: border-box;
  min-height: 282px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.c_slip-text04,
.c_slip-text05 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.c_slip-text04 {
  width: 100%;
  max-width: 796px;
  min-height: auto;
}

.c_slip-text05 {
  color: #2e2d2c;
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.c_slip-frame06,
.c_slip-frame07,
.c_slip-frame08 {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.c_slip-frame06 {
  gap: 24px;
  max-width: 796px;
  min-height: 122px;
  align-items: flex-start;
  justify-content: center;
}

.c_slip-frame07,
.c_slip-frame08 {
  max-width: 386px;
  align-items: center;
  justify-content: flex-start;
}

.c_slip-frame07 {
  gap: 16px;
  min-height: 122px;
  flex-direction: column;
}

.c_slip-frame08 {
  gap: 10px;
  padding: 13px 20px;
  min-height: 53px;
  border-radius: 20px 20px 20px 20px;
  background-color: #f0f2f2;
}

.c_slip-text06,
.c_slip-text07 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_slip-text06 {
  width: 100%;
  max-width: 312px;
  min-height: auto;
}

.c_slip-text07 {
  color: #2e2d2c;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.c_slip-frame09,
.c_slip-instance2 {
  width: 100%;
  max-width: 24px;
  box-sizing: border-box;
  min-height: 24px;
  border-radius: 100%;
}

.c_slip-frame09 {
  gap: 10px;
  display: flex;
  padding: 13px 20px;
  position: relative;
  max-width: 386px;
  min-height: 53px;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  justify-content: flex-start;
  background-color: #f0f2f2;
}

.c_slip-text08,
.c_slip-text09 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_slip-text08 {
  width: 100%;
  max-width: 312px;
  min-height: auto;
}

.c_slip-text09 {
  color: #2e2d2c;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.c_slip-instance3 {
  width: 100%;
  max-width: 24px;
  box-sizing: border-box;
  min-height: 24px;
  border-radius: 100%;
}

.c_slip-frame10,
.c_slip-frame11 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 386px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.c_slip-frame10 {
  gap: 16px;
  min-height: 122px;
  flex-direction: column;
}

.c_slip-frame11 {
  gap: 10px;
  padding: 13px 20px;
  min-height: 53px;
  border-radius: 20px 20px 20px 20px;
  background-color: #f0f2f2;
}

.c_slip-text10,
.c_slip-text11 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_slip-text10 {
  width: 100%;
  max-width: 312px;
  min-height: auto;
}

.c_slip-text11 {
  color: #2e2d2c;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.c_slip-frame12,
.c_slip-instance4 {
  width: 100%;
  max-width: 24px;
  box-sizing: border-box;
  min-height: 24px;
  border-radius: 100%;
}

.c_slip-frame12 {
  gap: 10px;
  display: flex;
  padding: 13px 20px;
  position: relative;
  max-width: 386px;
  min-height: 53px;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  justify-content: flex-start;
  background-color: #f0f2f2;
}

.c_slip-text12,
.c_slip-text13 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_slip-text12 {
  width: 100%;
  max-width: 312px;
  min-height: auto;
}

.c_slip-text13 {
  color: #2e2d2c;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.c_slip-instance5 {
  width: 100%;
  max-width: 24px;
  box-sizing: border-box;
  min-height: 24px;
  border-radius: 100%;
}

.c_slip-frame13,
.c_slip-instance6 {
  gap: 11px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 187px;
  box-sizing: border-box;
  min-height: 60px;
  align-items: flex-end;
  justify-content: end;
}

.c_slip-instance6 {
  gap: 10px;
  padding: 10px;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-color: #c02929;
  cursor: pointer;
  border: none;
  outline: none;
}

.c_slip-text14,
.c_slip-text15 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.c_slip-text14 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_slip-text15 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}
/* .slip-slip-setoran-perorangan-frame2 {
  gap: 16px;
  margin-top: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}

.slip-slip-setoran-perorangan-forminput {
  width: 390px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-frame3 {
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-forminput1 {
  width: 390px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-frame4 {
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-forminput2 {
  width: 390px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-frame5 {
  gap: 16px;
  margin-top: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.slip-slip-setoran-perorangan-frame6 {
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-forminput3 {
  width: 390px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-frame7 {
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}

.slip-slip-setoran-perorangan-forminput4 {
  width: 390px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-frame8 {
  gap: 16px;
  margin-top: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.slip-slip-setoran-perorangan-frame9 {
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-forminput5{
  width: 390px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-frame10 {
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}

.slip-slip-setoran-perorangan-forminput6 {
  width: 390px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-frame11 {
  gap: 16px;
  margin-top: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.slip-slip-setoran-perorangan-frame12 {
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-forminput7{
  width: 390px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-frame13 {
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}

.slip-slip-setoran-perorangan-forminput8 {
  width: 390px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-frame14 {
  gap: 16px;
  margin-top: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.slip-slip-setoran-perorangan-frame15 {
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-forminput9{
  width: 390px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-frame16 {
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}

.slip-slip-setoran-perorangan-forminput10{
  width: 390px;
  margin-top: 16px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  float: left;
}
.slip-slip-setoran-perorangan-frame17 {
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
  float: left;
}

.input-container {
  position: relative;
  margin: 20px;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.3s ease-out;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -20px;
  left: 0;
  font-size: 14px;
  background-color: white;
  padding: 0 5px;
}

.input-container input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
} */
.slip-slip-setoran-perorangan-forminput10{
  width: 100%;
  position: relative;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slip-slip-setoran-perorangan-frame17 {
  display: flex;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px rgba(11, 46, 90, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}

.input-container-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  grid-gap: 16px; /* Gap between columns and rows */
}

.input-container {
  width: 390px;
  position: relative;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.3s ease-out;
  transform: translateY(50%);
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -25px;
  left: 0;
  font-size: 14px;
  background-color: white;
  padding: 0 5px;
}
.input-container input[type="checkbox"] {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-60%);
  width: 24px;
  height: 24px;
  align-items: center;
}

.input-container input {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  flex-grow: 1;
}
.inputtextnik{
  border-radius:10px ;
  width:390px ;
  height: 25px;
}

.red-button {
  background-color: #C02929;
  color: white; /* Ubah warna teks menjadi putih agar lebih terlihat */
}

.radio-button[type="radio"]:checked::before {
  background-color: grey; /* Ganti warna sesuai dengan yang diinginkan */
}

/* CSS untuk menampilkan radio button dengan latar belakang abu saat tidak terpilih */
.radio-button[type="radio"]::before {
  background-color: lightgrey; /* Ganti warna sesuai dengan yang diinginkan */
}

.slip-slip-setoran-perorangan-konfirmasi1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-slip-slip-setoran-perorangan-konfirmasi {
  width: 100%;
  height: 1190px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.slip-slip-setoran-perorangan-konfirmasi1-group {
  top: 0px;
  left: -311px;
  width: 926.9274291992188px;
  height: 562px;
  display: flex;
  opacity: 0.15;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.slip-slip-setoran-perorangan-konfirmasi1-vector {
  top: 0px;
  left: 0px;
  width: 518px;
  height: 562px;
  position: absolute;
}
.slip-slip-setoran-perorangan-konfirmasi1-vector1 {
  top: 0px;
  left: 306.7040100097656px;
  width: 423px;
  height: 402px;
  position: absolute;
}
.slip-slip-setoran-perorangan-konfirmasi1-vector2 {
  top: 0px;
  left: 610.0000610351562px;
  width: 317px;
  height: 220px;
  position: absolute;
}
.slip-slip-setoran-perorangan-konfirmasi1-logo {
  gap: 20px;
  top: 40px;
  left: 447px;
  width: 546px;
  height: 68px;
  display: flex;
  padding: 12px 16px 13px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-logo1 {
  gap: 7px;
  width: 530px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.slip-slip-setoran-perorangan-konfirmasi1-logo2 {
  width: 91px;
  height: 50px;
}
.slip-slip-setoran-perorangan-konfirmasi1-text {
  color: rgba(62, 64, 149, 1);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-form {
  gap: 32px;
  top: 148px;
  left: 220px;
  width: 1000px;
  display: flex;
  padding: 56px 102px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 40px 0px rgba(12, 47, 90, 0.15000000596046448) ;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--dl-color-background-backgroundneutral);
}
.slip-slip-setoran-perorangan-konfirmasi1-text-button {
  gap: 8px;
  width: 796px;
  height: 36px;
  display: flex;
  padding: 6px 0;
  align-items: flex-start;
  flex-shrink: 0;
}
.slip-slip-setoran-perorangan-konfirmasi1-icon-label-button {
  gap: 8px;
  top: 6px;
  left: 0px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  margin-left: 102px;
  margin-bottom: 32px;
}
.slip-slip-setoran-perorangan-konfirmasi1-icsignchevronleft {
  width: 24px;
  height: 24px;
}
.slip-slip-setoran-perorangan-konfirmasi1-text02 {
  color: rgba(191, 40, 40, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-frame {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.slip-slip-setoran-perorangan-konfirmasi1-text04 {
  color: var(--dl-color-neutral-font);
  width: 796px;
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-toaster {
  gap: 10px;
  width: 796px;
  display: flex;
  padding: 10px 5px;
  box-shadow: 0px 4px 20px 0px rgba(11, 46, 90, 0.10000000149011612) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(255, 249, 242, 1);
}
.slip-slip-setoran-perorangan-konfirmasi1-text06 {
  color: rgba(191, 104, 24, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.slip-slip-setoran-perorangan-konfirmasi1-frame01 {
  gap: 16px;
  width: 386px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-form01 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-konfirmasi1-frame02 {
  width: 263px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-text08 {
  color: var(--dl-color-primary-green3);
  width: 248px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20.28169059753418px;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-text10 {
  color: var(--dl-color-neutral-grey60);
  width: 248px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-form02 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-konfirmasi1-frame03 {
  width: 263px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-text12 {
  color: var(--dl-color-primary-green3);
  width: 248px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20.28169059753418px;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-text14 {
  color: var(--dl-color-neutral-grey60);
  width: 248px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-form03 {
  gap: 10px;
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-konfirmasi1-frame04 {
  width: 263px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-text16 {
  color: var(--dl-color-primary-green3);
  width: 248px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20.28169059753418px;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-text18 {
  color: var(--dl-color-neutral-grey60);
  width: 248px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-form04 {
  gap: 10px;
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-konfirmasi1-frame05 {
  width: 263px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-text20 {
  color: var(--dl-color-primary-green3);
  width: 248px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20.28169059753418px;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-text22 {
  color: var(--dl-color-neutral-grey60);
  width: 248px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-form05 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-konfirmasi1-frame06 {
  width: 263px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-text24 {
  color: var(--dl-color-primary-green3);
  width: 248px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20.28169059753418px;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-text26 {
  color: var(--dl-color-neutral-grey60);
  width: 248px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-form06 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-konfirmasi1-frame07 {
  width: 263px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-text28 {
  color: var(--dl-color-primary-green3);
  width: 248px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20.28169059753418px;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-text30 {
  color: var(--dl-color-neutral-grey60);
  width: 248px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-frame08 {
  gap: 16px;
  width: 386px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-frame09 {
  gap: 10px;
  width: 350px;
  display: flex;
  padding: 13px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-primary-green1);
}
.slip-slip-setoran-perorangan-konfirmasi1-text32 {
  color: var(--dl-color-neutral-font);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-form07 {
  gap: 10px;
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-konfirmasi1-frame10 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-text34 {
  color: var(--dl-color-primary-green3);
  width: 248px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-text36 {
  color: var(--dl-color-neutral-grey60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-form08 {
  gap: 10px;
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-konfirmasi1-frame11 {
  width: 263px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-text38 {
  color: var(--dl-color-primary-green3);
  width: 248px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20.28169059753418px;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-text40 {
  color: var(--dl-color-neutral-grey60);
  width: 248px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-form09 {
  gap: 10px;
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-konfirmasi1-frame12 {
  width: 263px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-text42 {
  color: var(--dl-color-primary-green3);
  width: 248px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20.28169059753418px;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-text44 {
  color: var(--dl-color-neutral-grey60);
  width: 248px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-form10 {
  gap: 10px;
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-konfirmasi1-frame13 {
  width: 263px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-text46 {
  color: var(--dl-color-primary-green3);
  width: 248px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20.28169059753418px;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-text48 {
  color: var(--dl-color-neutral-grey60);
  width: 248px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-form11 {
  gap: 10px;
  display: flex;
  padding: 13px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: var(--dl-color-neutral-white);
}
.slip-slip-setoran-perorangan-konfirmasi1-frame14 {
  width: 263px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slip-slip-setoran-perorangan-konfirmasi1-text50 {
  color: var(--dl-color-primary-green3);
  width: 248px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20.28169059753418px;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-text52 {
  color: var(--dl-color-neutral-grey60);
  width: 248px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slip-slip-setoran-perorangan-konfirmasi1-button {
  gap: 10px;
  width: 200px;
  height: 60px;
  display: flex;
  padding: 10px;
  box-shadow: 0px 4px 20px 0px rgba(11, 46, 90, 0.10000000149011612) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: var(--dl-color-primary-red3);
}
.slip-slip-setoran-perorangan-konfirmasi1-text54 {
  color: var(--dl-color-neutral-white);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

:root {
  --dl-color-danger-3: rgba(215, 39, 29, 1);
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-neutral-font: rgba(46, 45, 44, 1);
  --dl-color-primary-red3: rgba(191, 40, 40, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-neutral-font1: rgba(46, 45, 44, 1);
  --dl-color-neutral-font2: rgba(46, 45, 44, 1);
  --dl-color-neutral-font3: rgba(46, 45, 44, 1);
  --dl-color-neutral-white: rgba(255, 255, 255, 1);
  --dl-color-primary-red31: rgba(191, 40, 40, 1);
  --dl-color-primary-red32: rgba(191, 40, 40, 1);
  --dl-color-primary-red33: rgba(191, 40, 40, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-neutral-grey60: rgba(117, 117, 117, 1);
  --dl-color-neutral-white1: rgba(255, 255, 255, 1);
  --dl-color-neutral-white2: rgba(255, 255, 255, 1);
  --dl-color-neutral-white3: rgba(255, 255, 255, 1);
  --dl-color-primary-green1: rgba(240, 242, 242, 1);
  --dl-color-primary-green3: rgba(191, 202, 201, 1);
  --dl-color-primary-green4: rgba(119, 128, 127, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-neutral-grey601: rgba(117, 117, 117, 1);
  --dl-color-neutral-grey602: rgba(117, 117, 117, 1);
  --dl-color-primary-green11: rgba(240, 242, 242, 1);
  --dl-color-primary-green12: rgba(240, 242, 242, 1);
  --dl-color-primary-green31: rgba(191, 202, 201, 1);
  --dl-color-primary-green32: rgba(191, 202, 201, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-background-backgroundneutral: rgba(255, 255, 255, 1);
  --dl-color-background-backgroundneutral1: rgba(255, 255, 255, 1);
  --dl-color-background-backgroundneutral2: rgba(255, 255, 255, 1);
  --dl-color-background-backgroundneutral3: rgba(255, 255, 255, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.SmallRegular-12 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
