@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:wght@500;600;700;800&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Styling untuk pop-up */
.inside-popup-content{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    padding: 25px;
    max-width: 385px;
    box-shadow: 0 4px 40px 0 rgba(12,47,90,.15);
    min-height: 245px;
    align-items: center;
    border-radius: 30px 30px 30px 30px;
    background-color: #fff;
    /* font-size: 16px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    color: #ffffff; */
  }

  .text-jud{
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    color: black;
  }
  .text-ket{
    font-size: 14px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    color: #757575;
  }
  
  .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Warna hitam dengan opacity 50% */
    z-index: 9999; /* Menempatkan pop-up di atas elemen lain */
    justify-content: center;
    align-items: center;
  }
  .popup-container.active {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background-color: white;
    width: 385px;
    height: 245px;
    border-radius: 30px;
    color: black ;
    text-align: center;
    justify-content: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Membuat tombol "Ya" dan "Tidak" berada di samping */
    margin-top: 20px;
  }
  
  .frame-button-popup {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
  }
  
  
  .button-back-konfirmasi-ya{
    border: 1px;
    border-style: solid;
    border-color: #C02929;
    width: 147px;
    height: 60px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
  }
  
  .button-back-konfirmasi-tidak{
    border: 1px;
    border-style: solid;
    border-color: #C02929;
    width: 147px;
    height: 60px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #C02929;
    cursor: pointer;
  }

  .text-button-back{
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
  }

  .text-button-back-ya{
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    color: #C02929;
  }

  .text-button-back-tidak{
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    color: #ffffff;
  }