@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:wght@500;600;700;800&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* BACKGROUND */
body {
  background-image: url(../assets/bg-strip.svg);
  background-repeat: no-repeat;
  /* overflow: hidden;
  max-width: 1440px;
  min-height: 788px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff; */
}

/* LOGO */
.frame-logo,
.frame-gambar-text {
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
}

.frame-logo,
.frame-gambar-text {
  display: flex;
  position: relative;
  align-items: center;
}

.frame-logo {
  gap: 20px;
  padding: 12px 16px 12px;
  max-width: 600px;
  min-height: 68px;
  border-radius: 16px 16px 16px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.frame-gambar-text {
  gap: 7px;
  max-width: 530px;
  min-height: 50px;
}

.logo-gambar {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 90.625px;
  max-height: 50px;
}

.text-logo {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.font-logo {
  color: #3e4095;
  font-size: 24px;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

/* KOTAK */
.c_slip-frame03 {
  padding: 56px 102px;
  overflow: hidden;
  max-width: 1000px;
  box-shadow: 0 4px 40px 0 rgba(12, 47, 90, .15);
  min-height: 462px;
  align-items: flex-start;
  border-radius: 16px 16px 16px 16px;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  margin: auto;
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.struk-container {
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.struk-form {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 56px 102px;
  overflow: hidden;
  /* box-shadow: 0px 4px 40px 0px rgba(12, 47, 90, 0.15000000596046448) ; */
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--dl-color-background-backgroundneutral);
}

.struk-frame {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.struk-text {
  color: var(--dl-color-neutral-font);
  width: 796px;
  height: auto;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.struk-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}

.struk-card {
  width: 434px;
  height: 542px;
  display: flex;
  position: relative;
  box-shadow: 0px 4px 20px 0px rgba(11, 46, 90, 0.10000000149011612);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-primary-background);
}

.struk-error-form {
  gap: 10px;
  top: 75.77725219726562px;
  left: 77px;
  width: 60px;
  height: 32.109004974365234px;
  display: flex;
  padding: 2px 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: rgba(225, 246, 225, 1);
}

.struk-text02 {
  color: rgba(69, 141, 69, 1);
  height: auto;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20.28169059753418px;
  font-stretch: normal;
  text-decoration: none;
}

.struk-text04 {
  top: 32.109004974365234px;
  left: 36.274627685546875px;
  color: rgba(46, 45, 44, 1);
  width: 113px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}

.struk-text06 {
  top: 35.96208572387695px;
  left: 233.19403076171875px;
  color: var(--dl-color-neutral-grey60);
  width: 165px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.struk-q-codesvg {
  top: 151.55450439453125px;
  left: 86.80000305175781px;
  width: 259px;
  height: 257px;
  position: absolute;
}

.struk-text08 {
  top: 444.38861083984375px;
  left: 36.274627685546875px;
  color: rgba(117, 117, 117, 1);
  width: 321px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.struk-text09 {
  color: var(--dl-color-neutral-grey60);
}

.struk-text11 {
  top: 479.06634521484375px;
  left: 36.274627685546875px;
  color: rgba(115, 24, 24, 1);
  width: 321px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.struk-buttonbutton {
  gap: 10px;
  width: 200px;
  height: 60px;
  display: flex;
  padding: 10px;
  box-shadow: 0px 4px 20px 0px rgba(11, 46, 90, 0.10000000149011612);
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: var(--dl-color-primary-red3);
  cursor: pointer;
}

.struk-text13 {
  color: var(--dl-color-neutral-white);
  height: auto;
  text-align: center;
  line-height: normal;
}

/* Styling untuk pop-up */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Warna hitam dengan opacity 50% */
  z-index: 9999;
  /* Menempatkan pop-up di atas elemen lain */
}

.popup-container.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  text-align: center;
  /* background-color: #fff; */
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth
}

html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);
}