@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:wght@500;600;700;800&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* BACKGROUND */
body {
  background-image: url(../assets/bg-strip.svg);
  background-repeat: no-repeat;
  /* overflow: hidden;
  max-width: 1440px;
  min-height: 788px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff; */
}

/* LOGO */
.frame-logo,
.frame-gambar-text {
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
}

.frame-logo,
.frame-gambar-text {
  display: flex;
  position: relative;
  align-items: center;
}

.frame-logo {
  gap: 20px;
  padding: 12px 16px 12px;
  max-width: 600px;
  min-height: 68px;
  border-radius: 16px 16px 16px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.frame-gambar-text {
  gap: 7px;
  max-width: 530px;
  min-height: 50px;
}

.logo-gambar {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 90.625px;
  max-height: 50px;
}

.text-logo {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.font-logo {
  color: #3e4095;
  font-size: 24px;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

/* KOTAK */
.c_slip-frame03 {
  gap: 32px;
  padding: 56px 102px;
  overflow: hidden;
  max-width: 1000px;
  box-shadow: 0 4px 40px 0 rgba(12, 47, 90, .15);
  min-height: 462px;
  align-items: flex-start;
  border-radius: 16px 16px 16px 16px;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  margin: auto;
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.c_slip-instance {
  gap: 8px;
  padding: 6px 0;
  max-width: 796px;
  min-height: 36px;
  align-items: flex-start;

  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  /* Optionally, if you want to remove any additional styling */
  /* color: inherit;
  text-decoration: none; */
}

.c_slip-frame04,
.c_slip-instance1 {
  width: 100%;
  box-sizing: border-box;
  min-height: 24px;
}

.c_slip-frame04 {
  gap: 8px;
  display: flex;
  position: relative;
  max-width: 107px;
  align-items: center;
  justify-content: center;
}

.c_slip-instance1 {
  overflow: hidden;
  max-width: 24px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_slip-text02,
.c_slip-text03 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_slip-text02 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_slip-text03 {
  color: #c02929;
  font-size: 20px;
  font-style: normal;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -1px;
  text-transform: none;
}

.c_slip-frame05 {
  gap: 32px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 796px;
  box-sizing: border-box;
  min-height: 282px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.c_slip-text04,
.c_slip-text05 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.c_slip-text04 {
  width: 100%;
  max-width: 796px;
  min-height: auto;
}

.c_slip-text05 {
  color: #2e2d2c;
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.c_slip-frame13,
.c_slip-instance6 {
  gap: 11px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 187px;
  box-sizing: border-box;
  min-height: 60px;
  align-items: flex-start;
  justify-content: flex-start;
}

.c_slip-instance6 {
  gap: 10px;
  padding: 10px;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-color: #e3e3e3;
  cursor: pointer;
  border: none;
  outline: none;
}

.c_slip-text14,
.c_slip-text15 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.c_slip-text14 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_slip-text15 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.red-button {
  background-color: #C02929;
  color: white;
  /* Ubah warna teks menjadi putih agar lebih terlihat */
}

.c_perorangan-frame06 {
  gap: 24px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 796px;
  box-sizing: border-box;
  min-height: 404px;
  align-items: flex-start;
  justify-content: center;
}

.c_perorangan-frame07 {
  gap: 16px;
  max-width: 386px;
  min-height: 335px;
  align-items: center;
  flex-direction: column;
}

.c_perorangan-frame07,
.c_perorangan-frame08,
.c_perorangan-instance02 {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: flex-start;
}

.c_perorangan-instance02 {
  gap: 10px;
  padding: 16px 20px;
  max-width: 386px;
  border-top: 1px solid #e3e3e3;
  min-height: 71px;
  align-items: center;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 20px 20px 20px 20px;
  background-color: #fff;
}

.c_perorangan-frame08 {
  max-width: 263px;
  min-height: 48px;
  align-items: flex-start;
  flex-direction: column;
}

.c_perorangan-text06 {
  width: 100%;
  max-width: 248px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_perorangan-text07 {
  color: #bfcac9;
  font-size: 16px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.c_perorangan-text07,
.c_perorangan-text08,
.c_perorangan-text09 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_perorangan-text08 {
  width: 100%;
  max-width: 248px;
  min-height: auto;
}

.c_perorangan-text09 {
  color: #757575;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

/* Nama Pemilik REkening */

.c_perorangan-frame14 {
  gap: 16px;
  max-width: 386px;
  min-height: 404px;
  align-items: center;
  flex-direction: column;
}

.c_perorangan-frame14,
.c_perorangan-frame15,
.c_perorangan-instance08 {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: flex-start;
}

.c_perorangan-instance08 {
  gap: 10px;
  padding: 13px 20px;
  max-width: 386px;
  border-top: 1px solid #e3e3e3;
  min-height: 71px;
  align-items: center;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 20px 20px 20px 20px;
  background-color: #fff;
}

.c_perorangan-frame15 {
  max-width: 263px;
  min-height: 48px;
  align-items: flex-start;
  flex-direction: column;
}

.c_perorangan-text22 {
  width: 100%;
  max-width: 248px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_perorangan-text23 {
  color: #bfcac9;
  font-size: 16px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.c_perorangan-text23,
.c_perorangan-text24,
.c_perorangan-text25 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_perorangan-text24 {
  width: 100%;
  max-width: 248px;
  min-height: auto;
}

.c_perorangan-text25 {
  color: #757575;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.c_perorangan-frame16 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 13px 20px;
  position: relative;
  max-width: 386px;
  box-sizing: border-box;
  min-height: 53px;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  justify-content: flex-start;
  background-color: #f0f2f2;
}

.c_perorangan-text26,
.c_perorangan-text27 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_perorangan-text26 {
  width: 100%;
  max-width: 312px;
  min-height: auto;
}

.c_perorangan-text27 {
  color: #2e2d2c;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

/* Input */

.input-container {
  width: auto;
  position: relative;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.3s ease-out;
  transform: translateY(10%);
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label {
  top: -15px;
  left: 0;
  font-size: 16px;
  background-color: white;
  padding: 0 5px;
}

.input-container input {
  padding: 10px;
  /* margin-top: 8px; */
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  line-height: normal;
  border: 1px solid #ccc;
  border-radius: 15px;
  flex-grow: 1;
  /* outline: none; */
  border: none;
  background-color: transparent;
}

/* Dropdown */

/* Gaya untuk kontainer dropdown dan label */
.jenis-nomor-rekening-container {
  display: flex;
  align-items: center;
}

/* Gaya untuk label "Pilih Jenis & Nomor Rekening *" */
.jenis-nomor-rekening-label {
  margin-right: 10px;
  /* Jarak antara label dan dropdown */
}

/* Gaya untuk kotak (box) yang berisi dropdown */
.dropdown-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  flex-grow: 1;
  border: none;
}

/* Gaya untuk dropdown "Pilih Jenis & Nomor Rekening *" */
#jenis-nomor-rekening {
  width: 100%;
  /* Dropdown akan mengambil seluruh lebar kotak */
  border-radius: 15px;
  height: 100%;
}

/* CSS for the enabled button */
.c_slip-instance6.enabled {
  background-color: red;
  /* Change to your desired enabled button color */
  cursor: pointer;
}

/* CSS for the disabled button */
.c_slip-instance6:disabled {
  background-color: grey;
  /* Change to your desired disabled button color */
  cursor: not-allowed;
}

/* INPUT */
.input-frame,
.input-instance {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 386px;
  box-sizing: border-box;
  justify-content: flex-start;
}

.input-instance {
  min-height: 50px;
  align-items: flex-start;
  flex-direction: column;
}

.input-frame {
  padding: 13px 20px;
  box-shadow: 0 0 2px 0 rgba(12, 47, 90, .25);
  min-height: 53px;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  background-color: #fff;
  padding-bottom: 0px;
}

.input-text1 {
  width: 100%;
  max-width: 239px;
  min-height: auto;
}

.input-text1,
.input-text2 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.input-text3 {
  color: #77807f;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.input-container {
  width: 340px;
  position: relative;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.3s ease-out;
  transform: translateY(10%);
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label {
  top: -10px;
  left: 0;
  font-size: 16px;
  background-color: transparent;
  padding: 0 10px;
}

.input-container input {
  padding: 10px;
  /* margin-top: 8px; */
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  line-height: normal;
  border: 1px solid #ccc;
  border-radius: 15px;
  flex-grow: 1;
  outline: none;
  border: none;
  background-color: transparent;
}

.input-container input[type="date"] {
  /* Customize date input styles as needed */
  padding: 10px;
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  line-height: normal;
  border: 1px solid #ccc;
  border-radius: 20px;
  flex-grow: 1;
  border: none;
  background-color: white;
}

/* dropdown */
.dropdown-frame,
.dropdown-instance {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 386px;
  box-sizing: border-box;
  justify-content: flex-start;
}

.dropdown-instance {
  min-height: 50px;
  align-items: flex-start;
  flex-direction: column;
}

.dropdown-frame {
  padding: 13px 13px;
  box-shadow: 0 0 2px 0 rgba(12, 47, 90, .25);
  min-height: 53px;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  background-color: #fff;
  padding-bottom: 0px;
  padding-top: 0px;
}

.dropdown-frame1 {
  padding: 10px 1px;
  min-height: 53px;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  background-color: #fff;

  width: 100%;
  display: flex;
  position: relative;
  max-width: 386px;
  box-sizing: border-box;
  justify-content: flex-start;
}

.dropdown-text1 {
  width: 100%;
  max-width: 322px;
  min-height: auto;
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.dropdown-instance1 {
  width: 100%;
  overflow: hidden;
  max-width: 24px;
  box-sizing: border-box;
  min-height: 24px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.dropdown-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  flex-grow: 1;
  border: none;
}

/* Gaya untuk dropdown "Pilih Jenis & Nomor Rekening *" */
#jenis-nomor-rekening {
  width: 100%;
  /* Dropdown akan mengambil seluruh lebar kotak */
  border-radius: 15px;
  height: 100%;
}

.dropdown-text2 {
  color: #77807f;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
  border: none;
  outline: none;
}

select {
  -webkit-appearance: none;
  /* removes expand icon in older Chrome versions  */
  -moz-appearance: none;
  /* removes expand icon in older Firefox versions */
  appearance: none;
  /* removes expand icon                           */
}

select::-ms-expand {
  /* removes expand icon in IE10                   */
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label.c_perorangan-text07:after,
label.c_perorangan-text23:after {
  content: "*";
  color: #c02929;
  margin-left: 3px;
  /* Adjust this value as needed to control the space between label text and the red asterisk */
}

.input-text3[for="inputSumberDana"]:after,
.input-text3[for="inputTujuanTransaksi"]:after,
.input-text3[for="inputJumlahSetoran"]:after,
.input-text3[for="inputNamaPenyetor"]:after,
.input-text3[for="inputNIKPenyetor"]:after,
.input-text3[for="inputAlamatPenyetor"]:after,
.input-text3[for="inputNomorHPenyetor"]:after {
  content: "*";
  color: #C02929;
  margin-left: 3px;
  /* Adjust this value as needed to control the space between label text and the red asterisk */
}


/* KTP */
.KTP-frame1,
.KTP-frame2,
.c_form-frame17 {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.KTP-frame1 {
  gap: 10px;
  padding: 13px 20px;
  max-width: 386px;
  border-top: 1px solid #e3e3e3;
  min-height: 71px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 20px 20px 20px 20px;
  background-color: #fff;
}

.KTP-frame2,
.c_form-frame17 {
  max-width: 346px;
  min-height: 48px;
}

.c_form-frame17 {
  max-width: 322px;
  align-items: flex-start;
  flex-direction: column;
}

.KTP-text1 {
  width: 100%;
  max-width: 239px;
  min-height: auto;
}

.KTP-text1,
.KTP-text2 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.KTP-text3 {
  color: #77807f;
  font-size: 16px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.KTP-text4,
.KTP-text5 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.KTP-text4 {
  width: 100%;
  max-width: 322px;
  min-height: auto;
}

.KTP-text5 {
  color: #2e2d2c;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.24338029325008392px;
  text-transform: none;
}

.KTP-instance {
  width: 100%;
  overflow: hidden;
  max-width: 24px;
  box-sizing: border-box;
  min-height: 24px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.select-image {
  display: block;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}